{% load thumbnail %}
<section id="box-{{order}}" class="container-fluid wrapper style1 main-section">
  <div class="container">
    <div class="row-flex" style="width:100%;">
      <div class="row" style="width:100%;">

        <header class="major">
          <h2>{{title}}</h2>
        </header>

        <div class="col-md-12" style="width:100%;">
          <!-- <div id="isotope-filters-researchers" style="text-align:center;margin-bottom: 10px;"> -->
          <!--   <button class="btn btn-default" data-filter="*">All</button> -->
          <!--   {% for c in categories %} -->
          <!--     <button class="btn btn-default" data-filter=".{{c}}">{{c}}</button> -->
          <!--   {% endfor %} -->
          <!-- </div> -->
          <!-- <div class="isotope-researchers row"> -->
          <div class="row">
            {% for o in objects %}
              <div class="isotope-item-researchers {{ o.institution }} col-md-3">
                <section class="special box">
                  {% if o.image %}
                    <img class="icon major img-responsive" src="{% thumbnail o.image "112x112" crop="center" %}" style="border-radius:100px;">
                  {% else %}
                    <i class="icon fa-user major"></i>
                  {% endif %}
                  <h3> {{o.name }} {{o.last_name}} </h3>

                  {% if o.email %}
                    <p><i class="icon fa-envelope"></i> {{o.email}}</p>
                  {% endif %}

                  <p><i class="icon fa-home"></i> {{o.institution}}</p>

                  {% if o.twitter %}
                    <p><i class="icon fa-twitter"></i><a target="_blank" href="http://twitter.com/{{o.twitter}}">@{{o.twitter}}</a></p>
                  {% endif %}
                </section>
              </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<script>
  var $isotope_researchers = $('.isotope-researchers');
  $isotope_researchers.isotope({
    // options
    itemSelector: '.isotope-item-researchers',
    layoutMode: 'masonry',
  });

  $('#isotope-filters-researchers').on( 'click', 'button', function() {
    var filterValue = $(this).attr('data-filter');
    $isotope_researchers.isotope({ filter: filterValue });
  });
</script>
